<!-- templates/base.html -->
<html lang="en">
	<head>
		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		{% load static %}
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
		<style>
		.asteriskField { display: none; }
		</style>
	</head>

	<body>
		<div class="container">
 <div class="row justify-content-around">
        <div class="p-2">
	<h1 class="mt-2">Chatter collector</h1>
        </div>
        <div class="p-2 align-self-center">
	{% if request.session.active_session == True %}
	{% url 'logout' as logout_url %}
	<a type="button" class="btn btn-outline-danger" href={{ logout_url }}>Logout</a>
	{% endif %}
        </div>
      </div>
		</div>

 <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
              <hr class="mt-0 mb-4">
            {% if messages %}
              <ul class="messages">
	        {% for message in messages %}
	        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
		{% endfor %}
	      </ul>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
      </div>
    <footer class="pt-5 my-md-1 pt-md-2 border-top">
        <div class="row justify-content-md-center">
	    <div class="col col-lg-2">
	    <div class="text-center">
		    <h5><a href="https://gitlab.com/fralcow/chatter-collector">Gitlab</a></h5>
	    </div>
	    </div>
	    <div class="col col-lg-2">
	    <div class="text-center">
		    <h5><a href="https://krupskiyandrey.com">Contact</a></h5>
	    </div>
	    </div>
        </div>
    </footer>
</div>
</html>
