<!-- templates/success.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap_pagination %}

{% block content %}

<div class="d-flex flex-row bd-highlight mb-3">
	<div class="p-2 bd-highlight">
		<form method="post">
		{% csrf_token %}
		{{ forms.period_form|crispy }}
	</form>
	</div>
	<div class="p-2 bd-highlight">
	<form method="post">
		{% csrf_token %}
		{{ forms.per_page|crispy }}
	</form>
	</div>
	<div class="p-2 bd-highlight">
	<form method="post">
		{% csrf_token %}
		{{ forms.sorting|crispy }}
	</form>
	</div>
</div>

{% if not page_obj %}
<p>You are not subscribed to any channels.</p>
{% endif %}

{% if page_obj %}

{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}

{% for message in page_obj %}
	<div class="post-entry">
        <h2><a href="{{ message.message_url }}">{{ message.title }}</a></h2>
		<p>{{ message.last_message }}</p>
		<p>Amount of views: <b>{{ message.views }}</b>. Posted on <b>
            {{ message.date }}</b>. Popularity: {{message.popularity }}.</p>
	</div>
{% endfor %}

{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}

{% endif %}

{% endblock content %}

