{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'enter-phone' %}" method="post" content='text/html; charset=UTF-8' accept-charset="UTF-8">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
